[Unit]
Description=Snort realtime WebSocket broker
After=network.target

[Service]
EnvironmentFile=/etc/snort/snort.env
ExecStart=/usr/local/lib/snort/modules/realtime/scripts/broker.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
